*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style.css */
#navegacion {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
  }

  /* -----------opciones------------------------------ */
#orden{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  background-color:pink;
  
}
  #container{
    background-color:black;
padding: 2em;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 90%;
  }
  #container h2{
    padding: 3em;
    text-align: center;
  }
  .contenedorS{
    background-color:white;
    color:black;
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 3em;

border:3px solid #ccc;
 
  }
  .contenedorS:hover{
  border-color: aqua;
  }